
table {
    width: 100%;
  }
  
  .mat-table {
    min-width: 1400px;
  }
  
  .mat-paginator {
    min-width: 1400px;
  }
  
  .mat-column-jobTitleId {
    flex: 0 0 200px;
  }
  
  .mat-column-nameAr {
    flex: 0 0 300px;
  }
  
  .mat-column-nameEn {
    flex: 0 0 300px;
  }

  .mat-column-departments {
    flex: 0 0 400px;
  }
  
  .mat-column-edit {
    flex: 0 0 100px;
  }
  
  .mat-column-delete {
    flex: 0 0 100px;
  }
  