<div class="modal-header gradient-flickr">
    <h4 class="modal-title text-white">
        Confirmation!
    </h4>
</div>

<div class="modal-body">
    <p>Are you sure you want to <b>{{confirmMsg}}</b>?</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-raised gradient-blackberry shadow-big-navbar white shadow-z-1-hover" mat-dialog-close="false">Wait!</button>
    <button class="btn btn-raised gradient-ibiza-sunset white shadow-big-navbar white shadow-z-1-hover" mat-dialog-close="true">Sure</button>
</div>