<div class="modal-header gradient-blackberry">
    <h4 class="modal-title text-white">
        Delete Confirmation
    </h4>
</div>

<div class="modal-body">
    <p>Are you sure you want to delete <b>{{toDelete}}</b>?</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-raised gradient-blackberry shadow-big-navbar white shadow-z-1-hover" mat-dialog-close="false">NOOO!</button>
    <button class="btn btn-raised gradient-starfall white shadow-big-navbar white shadow-z-1-hover" mat-dialog-close="true">Delete</button>
</div>
