<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="p-4" [dir]="dir">
  <div class="row">
    <div class="col-12">
      <h1 mat-dialog-title>{{saveEditString}}</h1>
    </div>
  </div>
  <hr />

  <div mat-dialog-content>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="fullwidth">
          <mat-label>Old Password</mat-label>
          <input [type]="hideOld ? 'password' : 'text'" placeholder="Old Password" matInput formControlName="oldPassword">
          <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
            <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{oldPasswordCtrl.value?.length || 0}}/16</mat-hint>
          <mat-error *ngIf="oldPasswordCtrl.errors">
            <div *ngIf="oldPasswordCtrl.hasError('required')">
              You must enter value.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="fullwidth">
          <mat-label>New Password</mat-label>
          <input [type]="hideNew ? 'password' : 'text'" min="8" max="16" placeholder="New Password" matInput formControlName="newPassword">
          <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{newPasswordCtrl.value?.length || 0}}/16</mat-hint>
          <mat-error *ngIf="newPasswordCtrl.errors">
            <div *ngIf="newPasswordCtrl.hasError('required')">
              You must enter value.
            </div>
            <div *ngIf="newPasswordCtrl.hasError('minlength')">
              Value length must be not less than {{newPasswordCtrl.errors.minlength.requiredLength}} but you wrote {{newPasswordCtrl.errors.minlength.actualLength}}
            </div>
            <div *ngIf="newPasswordCtrl.hasError('maxlength')">
              Value length must not exceed {{newPasswordCtrl.errors.maxlength.requiredLength}} but you wrote {{newPasswordCtrl.errors.maxlength.actualLength}}
            </div>
            <div *ngIf="newPasswordCtrl.hasError('pattern')">
              Password Must Match The Pattern, Only Accepted Lowercase letters, Uppercase letters, Numbers and Special Characters (@ _ # ~ &) with minimum length 8 characters
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="fullwidth">
          <mat-label>Confirm Password</mat-label>
          <input [type]="hideConfirm ? 'password' : 'text'" min="8" max="16" placeholder="Confirm Password" matInput formControlName="newConfirmPassword">
          <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{newConfirmPasswordCtrl.value?.length || 0}}/16</mat-hint>
          <mat-error *ngIf="newConfirmPasswordCtrl.errors">
            <div *ngIf="newConfirmPasswordCtrl.hasError('required')">
              You must enter value.
            </div>
            <div *ngIf="newConfirmPasswordCtrl.hasError('minlength')">
              Value length must not less than {{newConfirmPasswordCtrl.errors.minlength.requiredLength}} but you wrote {{newConfirmPasswordCtrl.errors.minlength.actualLength}}
            </div>
            <div *ngIf="newConfirmPasswordCtrl.hasError('maxlength')">
              Value length must be not exceed {{newConfirmPasswordCtrl.errors.maxlength.requiredLength}} but you wrote {{newConfirmPasswordCtrl.errors.maxlength.actualLength}}
            </div>
            <div *ngIf="newConfirmPasswordCtrl.hasError('pattern')">
              Password Must Match The Pattern, Only Accepted Lowercase letters, Uppercase letters, Numbers and Special Characters (@ _ # ~ &) with minimum length 8 characters
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </div>
    <hr />


    <div class="row p-1" mat-dialog-actions>
      <div class="col"></div>
      <div class="col">
        <button type="button" class="btn btn-raised gradient-pomegranate shadow-big-navbar white shadow-z-1-hover fullwidth" [mat-dialog-close]="savedObj">Close</button>
      </div>
      <div class="col">
        <button type="reset" hidden="true" #btnReset></button>
        <button type="submit" class="btn gradient-purple-bliss white shadow-z-1-hover fullwidth">{{saveButtonString}}</button>
      </div>
    </div>
</form>
