<div class="row" style="position: relative;">

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-purple-love">
            <div class="card-content">
                <div class="card-body py-0">
                    <div class="media pb-1">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 white mb-0">15</h3>
                            <span>Courses</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="ft-book-open font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-ibiza-sunset">
            <div class="card-content">
                <div class="card-body py-0">
                    <div class="media pb-1">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 white mb-0">1000</h3>
                            <span>
                                Watched Videos
                               
                            </span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="ft-play font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart1" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-mint">
            <div class="card-content">
                <div class="card-body py-0">
                    <div class="media pb-1">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 white mb-0">100</h3>
                            <span> Solved Exams</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="ft-book font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-king-yna">
            <div class="card-content">
                <div class="card-body py-0">
                    <div class="media pb-1">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 white mb-0">500</h3>
                            <span>Points Balance</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="ft-activity font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart3" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row ">
  <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header pb-2">
              <h4 class="card-title mb-0">Basic Courses</h4>
          </div>
          <div class="card-content">
              <div class="card-body scrolled350">
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>
                  <div class="media pt-0 pb-2">
                      <div class="media-body">
                          <h4 class="font-medium-1 mb-0">Course 1</h4>
                          <p class="grey font-small-3 m-0">Description</p>
                      </div>
                      <a href="/egyTraining/lecPage" type="button" class="btn btn-primary">
                          Visit
                      </a>
                  </div>


              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header pb-2">
              <h4 class="card-title mb-0">Recomended Courses</h4>
          </div>
          <div class="card-content">
              <div class="card-body scrolled350">
                  <ul class="list-group mb-3">
                      <li class="list-group-item">
                          <a href="/egyTraining/lecPage"><span>Course1</span></a>
                          <span class="badge bg-light-primary float-right">2.5k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/lecPage"><span>Course2</span></a>
                          <span class="badge bg-light-info float-right">3.7k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/lecPage"><span>  Course3</span></a>
                          <span class="badge bg-light-warning float-right">2.3k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/lecPage"><span>  Course4</span></a>
                          <span class="badge bg-light-success float-right">4.1k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/lecPage"><span>  Course5</span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/lecPage"><span>  Course6</span></a>
                          <span class="badge bg-light-danger float-right">5.6k</span>
                      </li>
                  </ul>

              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header pb-2">
              <h4 class="card-title mb-0">My Courses</h4>
          </div>
          <div class="card-content">
              <div class="card-body scrolled350 height190">
                  <ul class="list-group mb-3">
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Course1</span></a>
                          <span class="badge bg-light-primary float-right">2.5k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Course2</span></a>
                          <span class="badge bg-light-info float-right">3.7k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>  Course3</span></a>
                          <span class="badge bg-light-warning float-right">2.3k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>  Course4</span></a>
                          <span class="badge bg-light-success float-right">4.1k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>  Course5</span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>  Course6</span></a>
                          <span class="badge bg-light-danger float-right">5.6k</span>
                      </li>
                  </ul>

              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header pb-2">
              <h4 class="card-title mb-0">Important Links</h4>
          </div>
          <div class="card-content">
              <div class="card-body scrolled350 height190">
                  <ul class="list-group mb-3">
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Link 1 </span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Link 2</span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Link 3</span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Link 4 </span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Link 5 </span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                          
                      </li>
                      <li class="list-group-item">
                          <a href="/egyTraining/addCourse"><span>Link 6</span></a>
                          <span class="badge bg-light-secondary float-right">2.8k</span>
                      </li>
                  </ul>

              </div>
          </div>
      </div>
  </div>

</div>
<div class="row match-height">

  <div class="col-xl-6 col-lg-12">
      <div class="card">
          <div class="card-header pb-2">
              <h4 class="card-title mb-0"> Calendar</h4>
          </div>
          <div class="card-content">
              <div class="card-body scrolled350">
                  <div id='fc-default'></div>

              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-6 col-lg-12">
      <div class="card">
          <div class="card-header pb-2">
              <h4 class="card-title mb-0">Important Articles </h4>
          </div>
          <div class="card-content">
              <div class="card-body scrolled350">
                  <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   <a href="#" class="arttit">Article ! what articles do?????</a>
                  <p class="card-text kb-categories-text kb-ellipsis">Using Laravel, no worries we have that convered as well. We bundled Laravel Starter Kit with this template...<a href="javascript:;">MORE</a></p>
                  <hr />
                   




              </div>
          </div>
      </div>
  </div>

</div>
