/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*html, body {
  height: 100%;
}*/

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

agm-map {
  height: 275px;
  width: 100%; /* This is really important*/
}

agm-marker {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/* if you will use the black theme table needs black background and white font color */
table {
  width: 100%;
}

mat-form-field, mat-label, mat-tab-label {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/*.wrapper .content-header {
    margin-top: unset;
}*/

.float-right {
  float: right;
}

.row-end {
  left: 100%;
  position: sticky;
}

.mat-cell {
  font-weight: 600;
}

.mat-sort-header-button {
  font-weight: 600 !important;
}

mat-button-toggle-group {
  width: 100%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.fullwidth {
  width: 100%;
}

.dataGrid-container {
  overflow: auto;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

mat-header-cell, mat-cell {
  justify-content: center;
  padding: 0 !important;
}

.accordion-headers-align .mat-expansion-panel-header-title,
.accordion-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-column-grpActions {
  flex: 0 0 120px;
}

.mat-column-hide {
  flex: 0 0 60px;
}

.mat-column-toggle {
  flex: 0 0 60px;
}

.mat-column-edit {
  flex: 0 0 60px;
}

.mat-column-delete {
  flex: 0 0 60px;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0px !important;
}

.pace .pace-activity {
  top: 19px;
  right: 19px;
  display: none;
}

.page-loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: rgba(51, 51, 51, 1);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* the bar of buttoms add, search, back to grid and so on ...*/
.mat-toolbar.mat-primary {
  /*  background: #0b8793;
    color: #fff;*/
  /* background-image: linear-gradient(118deg, #22334b, #b64155, #871a33, #242b37) !important; */
  background-image: linear-gradient(118deg, #a6d8ed, #95dcfa, #50c5f6) !important;
  background-repeat: repeat-x !important;
  /*linear-gradient(0deg, #000000ff, #0B0B0Bff, #161616ff, #222222ff, #2D2D2Dff, #383838ff, #434343ff)*/
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 38px;
  height: 38px;
  margin-left: -19px;
  margin-top: -19px;
}

app-root:empty ~ .page-loading {
  opacity: 1;
  z-index: 1;
}
